.page-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.ingredients-container,
.products-container {
    background-color: #dae7d8;
    border-radius: 50px;
    color: #346645;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 3%;
}

.expired-ingr-container,
.expired-prod-container {
    background-color: #e7d8d9;
    border-radius: 50px;
    color: #346645;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 3%;
}

.item {
    width: 90%;
    display: inline-flex;
    justify-content: space-between;
}

.total {
    align-self: center;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 3%;
    width: 70%;
    display: inline-flex;
    justify-content: space-between;
}

@media (max-width: 480px) {
    .page-container {
        max-width: 100%;
        flex-direction: column;
    }

    .ingredients-container,
    .products-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .expired-ingr-container,
    .expired-prod-container {
        width: 100%;
        border-radius: 50px;
    }
}
  
@media (min-width: 480px) and (max-width: 767px) {
    .page-container {
        max-width: 100%;
        flex-direction: column;
    }

    .ingredients-container,
    .products-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .expired-ingr-container,
    .expired-prod-container {
        width: 100%;
        border-radius: 50px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1440px) {

}

@media (min-width: 1441px) {
    h1 {
        margin-top: 2%;
        font-size: 50px;
    }

    .ingredients-container,
    .products-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

    .mat-card-title {
        font-size: 30px;
    }
}