@model IList<Microsoft.AspNetCore.Identity.IdentityUser>

@{
    ViewData["Title"] = "Admin Page";
}

<div class="text-center">
    <h1 class="display-4">Admins</h1>

    @foreach (var item in Model)
    {
        <h3>@item.UserName</h3>
    }
</div>
