<div class="circle"></div>

<div class="big-center-title">
    <span id="title-light" class="big-center-title-text"><span id="big-center-title-top-letter">E</span>D<span id="big-center-title-top-letter">A</span></span>
</div>

<div class="top-picture">
    <img id="top-center-image" src="../../assets/pexels-daria-shevtsova-1824353-removebg.png">
</div>

<div class="top-start-button">
    <button mat-raised-button class="start-button" 
    [routerLinkActive]="['link-active']" [routerLink]="['/login']">Start</button>
</div>