.page-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.inline-blocks {
    display: inline-flex;
}

.ingredients-container,
.products-container {
    color: #346645;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.forbidden-ingredients-container,
.forbidden-products-container {
    background-color: #e7d8d9;
    color: #346645;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    border-radius: 50px;
}

.ingredients-container {
    background-color: #dae7d8;
    border-radius: 50px;
}

.cards-container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredient-card,
.product-card {
    width: 20%;
    margin: 5%;
}

.card-title {
    margin-top: 0;
    font-size: smaller;
}

@media (max-width: 480px) {
    .page-container {
        max-width: 100%;
        flex-direction: column;
    }

    .ingredients-container,
    .products-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .forbidden-ingredients-container,
    .forbidden-products-container {
        width: 100%;
        border-radius: 50px;
    }

    .ingredient-card,
    .product-card {
        width: 30%;
        margin: 2%;
    }
}
  
@media (min-width: 480px) and (max-width: 768px) {

}

@media (min-width: 769px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1440px) {

}

@media (min-width: 1441px) {
    h1 {
        margin-top: 2%;
        font-size: 50px;
    }

    .ingredients-container,
    .products-container {
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        width: 50%;
    }

    .forbidden-ingredients-container,
    .forbidden-products-container {
        width: 50%;
        border-radius: 50px;
    }

    .ingredient-card,
    .product-card {
        width: 30%;
        margin: 2%;
    }

    .mat-card-title {
        font-size: 30px;
    }
}