.page-container {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.inline-blocks {
    display: inline-flex;
}

.ingredients-container,
.products-container {
    color: #346645;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.ingredients-container {
    background-color: #dae7d8;
    border-radius: 50px;
}

.cards-container {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.ingredient-card,
.product-card {
    width: 20%;
    margin: 5%;
}

.card-title {
    margin-top: 0;
    font-size: smaller;
}