.navbar {
  width: 100%;
}

.top-container,
.toolbar {
  background-color: #C7DEC1;
}

#title-light {
  color: #ffff;
}

.title,
.toolbar-menu-button-title {
  color: #346645;
  font-weight: bold; 
}

.title {
  font-size: x-large;
}

#log-button-title {
  color: #ffff;
}

.title-button,
.toolbar-menu-button {
  background-color: transparent;
}

.example-spacer {
  flex: 1 1 auto;
}

#log-button {
  background-color: #9ABF9C;
  width: 10%;
  height: 65%;
  border-radius: 20px;
}