.top-container,
.toolbar {
  background-color: #C7DEC1;
}

.circle {
  position: fixed;
  left: -10%;
  right: -10%;
  top: -500px;
  background-color: #C7DEC1;
  height: 1000px;
  width: 120%;
  border-radius: 50%;
  z-index: -1;
}

.title,
.toolbar-menu-button-title {
  color: #346645;
  font-weight: bold; 
}

.title-button,
.toolbar-menu-button {
  background-color: transparent;
}

.example-spacer {
  flex: 1 1 auto;
}